body {
    margin: 0px;
    padding: 0px;
    background-color: #202020;
    font-family: "Tahoma", "DejaVu Sans", "Bitstream Vera Sans";
    font-weight: bold;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    background-image: url('bg.png');
}

canvas {
    margin: 8px auto 4px;
    border: 3px #f0f0f0 solid;
    background-color: #000000;
    display: none;
}

noscript {
    margin: 80px auto 2px;
    display: block;
    width: 480px;
} 

a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.fork {
    opacity: 0.15;
}

.fork:hover {
    opacity: 1;
}

/* Error */
#error {
    font-size: 30px;
    width: 400px;
    display: none;
    text-align: center;
    margin: 8px auto;
} 

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#warning {
    padding-top: 7px;
    font-size: 11px;
    display: none;
}

/* Options */
#sub {
    font-size: 9px;
    width: 480px;
    margin: 0px auto;
    display: none;
}

.sound {
    width: 220px;
    display: hidden;
}

.copyright {
    float: right;
    width: 260px;
    text-align: right;
}


/* Login */
#loginOverlay {
    position: absolute;
    padding-top: 370px;
    top: 0px;
    left: 0px;
    width: 100%;
    display: none;
}

#loginBox, #offlineBox {
    display: none;
    text-align: center;
    width: 290px;
    margin: 0px auto 0px;
    font-size: 15px;
    opacity: 0.2;
}

#offlineBox {
    font-size: 25px;
    opacity: 0.25;
    display: none;
}

#loginBox:hover, #offlineBox:hover {
     opacity: 0.9;
}

input {
    font-family: Arial;
    border: 2px #f0f0f0 solid;
    background-color: #000000;
    font-size: 23px;
    font-weight: bold;
    margin: 0px;
    color: #ffffff;
    width: 215px;
    padding: 2px;
    height: 28px;
}

input[type="button"] {
    margin: 0px;
    margin-left: 2px;
    width: 64px;
    height: 36px;
}

input[type="button"]:active {
    background-color: #ffffff;
    color: #000000;
}

.controls {
    padding-top: 12px;
    font-size: 10px;
    clear: left;
}

.offline {
    padding-top: 8px;
    font-size: 12.5px;
    clear: left;
}

.offline a{
    font-size: 10px;
}

#goplaying {
    display: none;
}

#goplaying a {
    font-size: 14px;
    cursor: pointer;
}

#colors {
    margin-top: 2px;
}

.color {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border: 2px #444444 solid;
    margin-right: 3px;
    float: left;
    opacity: 0.25;
}

.color:hover {
    opacity: 0.5;
}

.colorselected {
    opacity: 1.0;
}

.colorselected:hover {
    opacity: 1.0;
}

#watch {
    padding-top: 2px;
    font-size: 11px;
}

#tutorialOverlay {
    display: none;
    position: absolute;
    padding-top: 280px;
    top: 0px;
    left: 0px;
    width: 100%;
}

#tutorial {
    opacity: 0;
    display: none;
    text-align: center;
    width: 460px;
    margin: 0px auto 0px;
    font-size: 15px;
}

#gameOverlay {
    position: absolute;
    padding-top: 13px;
    top: 0px;
    left: 0px;
    width: 100%;
}

#gameInfo {
    margin: 0px auto 0px;
    font-size: 12px;
    cursor: default;
}

#gameInfoRight {
    float: right;
    text-align: right;
    padding-right: 4px;
}

#gameInfoLeft {
    padding-left: 4px;
}


#achievementOverlay {
    display: none;
    position: absolute;
    padding-top: 80px;
    top: 0px;
    left: 0px;
    width: 100%;
}

#achievement {
    opacity: 0;
    text-align: center;
    width: 480px;
    margin: 0px auto 0px;
    font-size: 11px;
}

#achievement span {
    font-size: 21px;
}

